@import "./_taillwind.scss";
@import "./_fonts.scss";
@layer base {
  h1 {
    @apply text-8xl;
  }

  h2 {
    @apply text-6xl	;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }


}

:root {
  zoom: 85%;
}

body {
  background-color: #F9FAFA;
  overflow-x: hidden;
  //zoom: 90%;
}

input::placeholder {
  font-size: theme("fontSize.xl");
  color: theme("colors.gray.200") !important;
  font-weight: 400;
}

.table {
  border: 1px solid theme("colors.gray.200");
  border-radius: 1.5rem;
  background: theme("colors.white");
}

table {
  vertical-align: middle;
}

td,
th {
  padding: 1.5rem 1.75rem;
  text-align: center;
}

td * {
  text-align: center;
}

tr td {
  border-top: 1px solid theme("colors.gray.200");
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.loading-spinner {
  animation: spinner .5s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.gray.200");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.primary.300");
}
